[Desktop Entry]
Name=WSoundPrefs
Comment=WindowMaker Sound Preferences
Comment[es]=Configuración de Sonido para Window Maker
Comment[pl]=Konfigurator Serwera Dźwięku WindowMakera
Comment[pt_BR]=Preferências de Som do Window Maker
Icon=WSoundPrefs.png
Exec=/usr/X11R6/GNUstep/Apps/WSoundPrefs.app/WSoundPrefs
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
