[Desktop Entry]
Name=WSoundPrefs
Comment=WindowMaker Sound Preferences
Comment[es]=Configuración de Sonido para Window Maker
Comment[pl]=Konfigurator Serwera Dźwięku WindowMakera
Comment[pt_BR]=Preferências de Som do Window Maker
Icon=WSoundPrefs
Exec=/usr/lib/GNUstep/Apps/WSoundPrefs.app/WSoundPrefs
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
# vi: encoding=utf-8
